<h2 class="myh2">My To Do List</h2>
{{!-- Проверяем не пустой ли наш список --}}
{{#if todos.length}}
<ul>
    {{!-- Начинаем цикл для проверки chekbox --}}
    {{#each todos}}
    <li class="todo">
        <form action="/complete" method="POST">
            <label>
                {{#if completed}}
                <input type="checkbox" checked name="completed">
                <span class="completed">{{title}}</span>
                {{else}}
                <input type="checkbox" name="completed">
                <span>{{title}}</span>
                {{/if}}
                <input type="hidden" value="{{_id}}" name="id">
                <button class="btn btn-small" type="submit">Save</button>
            </label>
        </form>
    </li>
    {{/each}}
</ul>
{{else}}
<p class="myp">The TO DO list is empty!</p>
{{/if}}